@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #f5f8fa;
    padding-left: 200px;
    padding-right: 200px;
}
a {
    color: #52c9ff;
    text-decoration: none;
}
main {
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.animal-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.animal-content {
    background: #fff;
    border-radius: 5px;
    padding: 8px;
}

.animal-content .animal-link {
    text-decoration: none;
    color: inherit;
}

.animal-content .animal-img {
    width: 100%;
    border-radius: 5px;
}

.animal-content .animal-name {
    margin: 0px;
    font-weight: bold;
    font-size: 28px;
}

.animal-content .animal-text {
    margin: 0px;
}

.animal-content .animal-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header .logo {
    height: 50px;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    color: inherit;
}

footer {
    text-align: center;
}

.animal-detail-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.animal-detail-container .animal-detail-title {
    font-size: 36px;
    font-weight: bold;
}

.animal-detail-container .animal-detail-content {
    display: flex;
}

.animal-detail-container .animal-detail-content .animal-detail-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    text-align: left;
}

.animal-detail-container .animal-detail-content .animal-detail-img {
    width: 200px;
}
